*{
    box-sizing: border-box;
    margin: 0;
}


@font-face {
    font-family: 'ArialRounded';
    font-display: swap;
    src: url('../fonts/Arial_Rounded_MT.ttf')
      format('truetype');
  }

/* @font-face {
    font-family: 'ArialRounded';
    font-display: swap;
    src: url('../fonts/Arial-Rounded-MT-Bold.ttf')
        format('truetype');
} */
:root{
    --maincolor--:hsl(2, 66%, 58%);
    --white--:	hsl(0, 0%, 100%);
    --bordo--:hsl(357, 50%, 22%);
    --p--:hsl(357, 12%, 42%);;
    --feature--:hsl(357, 74%, 67%);
    --darkBackground--:rgba(0, 0, 0, 0.2);
    --lightBackground--:rgba(255, 255, 255, 0.2);

}

body{
    font-family: 'ArialRounded';
    color: var(--white--);
}


.container {
    width: 100%;
    height: 100%;
}

.firstpage{
    width: 100vw;
    height: 100vh;
    background-color:var(--maincolor--);
    opacity: 0.95;
}

header{
    max-width: 620px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-block: 1%;
    border-bottom: solid;
    border-bottom-color: var(--darkBackground--);
    border-bottom-width: 1.5px;
    margin: auto;
    /* font-weight: 300; */
}
.firstpage h1{
    color: var(--white--);
    display: flex;
    /* margin-right: 15%; */
    font-size: 1.3em;
    margin-right: 175px;
    
}
h1::before{
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background: url(../images/icon-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
    
}

ul{
    list-style-type: none;
    display: flex;
}

.menu1,
.menu2,
.menu3 {
    color: var(--white--);
    display: flex;
    padding-block: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    background-color: var(--lightBackground--);
    border-radius: 4px;
    opacity: 0.9;
    margin: 2%;
    font-size: .8em;
    align-items: center;
    justify-content: center;
}

.menu1::before{
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: url(../images/graph-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:5px;
}

.menu2::before{
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: url(../images/config-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:5px;}

.menu3::before{
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: url(../images/user-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:5px;
}

.hero{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightBackground--);
    border-radius: 6px;
    margin: auto;
    margin-top: 40px;
    padding: 45px;
    padding-block: 25px;
}

.hero ul{
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.hero li{
    margin: 10px;
    margin-block: 0;
}

.pomodoro{
    background-color: var(--darkBackground--);
    border-radius: 4px;
    padding: 8px;
    padding-block: 5px;
    font-weight: bolder;
}

.firstpage h2{
    font-size: 7em;
    font-weight: bolder;
    margin-block: 30px;
}

.firstpage h3{
    background-color: var(--white--);
    border-radius: 6px;
    padding-block: 15px;
    padding-left: 60px;
    padding-right: 60px;
    color: var(--maincolor--);
    font-size: 1.4em;
    border-bottom: solid rgb(235, 235, 235);
    border-bottom-width: 6px;


}

.focus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.focus :first-child{
    color: var(--white--);
    opacity: 0.6;
    margin-bottom: 5px;
}

.timeto{
    font-size: 1.2em;
}

.task{
    display: flex;
    align-items: center;
    max-width: 480px; 
    border-bottom: solid;
    border-bottom-color: rgba(235, 235, 235,0.6);
    border-bottom-width: 2.5px;
    margin-top: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.task::after{
    display: flex;
    width: 1px;
    height: 1px;
    padding: 15px;
    content: "";
    background: url(../images/threedots-white.png);
    background-size: 15px;
    background-position: center;
    background-color: var(--lightBackground--);
    border-radius: 4px;
    background-repeat: no-repeat;
    margin-left: 400px;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 480px;
    margin-top: 20px;
    background-color: var(--darkBackground--);
    border: 2px dashed rgba(255, 255, 255, 0.4);
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: bolder;
    color: var(--white--);
    opacity: 0.8;

}

.add::before{
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: url(../images/plus-circle-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:5px;
    opacity: 0.8;
}

.secondpage{
    background-color: var(white);
    margin: auto;
    max-width: 620px;
}

.secondpage h1,
.secondpage h2{
    
    color: var(--bordo--);
    padding-bottom: 4px;
}

.pomodorotimerlist,
.featureslist,
.downloadlist{
    color: var(--p--);
}

.pomodorotimerlist{
    line-height: 2.5em;
    font-size: 1em;
}

.featureslist{
    list-style: none;
    line-height: 2.5em;
    font-size: 1.1em;
}

.featureslist li::before{
    color: hsl(357, 74%, 67%);
    content: '\2022'; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.downloadlist{
    list-style: none;
    line-height: 2.5em;
    font-size: 1.1em;
}

.downloadlist li::before{
    color: hsl(357, 74%, 67%);
    content: '\2022'; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.secondpage h1{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.secondpage h2{
    font-size: 1.5em; 
    margin-top: 50px;
    margin-bottom: 20px;
}

.secondpage a{
    text-decoration: none;
    color: var(--feature--);
    font-weight: bolder;
}
.secondpage h1,
.secondpage h2 {
    line-height: 1.4em;
  }

.secondpage h2::after{
    content: '';
    display: block;
    width: 24px;
    padding-top: 8px;
    border-bottom: 4px solid #f05b56;
    opacity: 0.6;
}

.secondpage p{
    color: var(--p--);
    margin: auto;
    line-height: 1.6em;
    font-size: 1.1em;
    
}

footer{
    margin-top: 40px;
    border-top: 2px solid #efefef;
    text-align: center;
    padding-top: 30px;
    color: hsl(357, 12%, 42%);
    padding-bottom: 20px;
}

footer h1{
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 20px;
}

footer h2{
    font-size: .7em;
    font-weight: lighter;
    color: hsl(357, 8%, 60%) ;
}

footer a{
    text-decoration: none;
    color: var(--feature--);
    font-weight: bolder;
}

.icons{
    display: flex;
    justify-content: center;
    padding-left: 0;
}


.icons img{
    background-color: #999;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    padding: 6px;
    margin: 0px 6px;
}

.links{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.links li{
    margin: 0px 7px;
    font-weight: bolder;
    font-size: .9em;
}

.links a{
    color: hsl(357, 12%, 42%);
}

@media only screen and (max-width: 650px){
    .menu1 span,
    .menu2 span,
    .menu3 span{
        display: none;
        padding: 8px;

    }

    .menu1::before,
    .menu2::before,
    .menu3::before{
        margin-right: 0;

    }

    .mainmenu{
        padding-right: 20px;
    }
    .firstpage h1{
        margin-right: auto;
        
    }

    .task::after{
        margin-left: 400px;
    }

    .secondpage{
        margin-left: 20px;
        margin-right: 20px;
    }

    .secondpage h1{
        font-size: 1.5em;
        margin-top: 10px;
    }
    .secondpage h2{
        font-size: 1.2em;
    }

    .secondpage p{
        font-size: 1em;
    }

    .featureslist,
    .pomodorotimerlist,
    .downloadlist{
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px){
    .hero{
        margin-left: 20px;
        margin-right: 20px;

    }

    .hero h2{
        font-size: 5em;
    }

    .hero ul{
        font-size: .9em;
    }
}

@media only screen and (max-width: 450px){
    .task::after{
        margin-left: 250px;
    }

    .add{
        width: 330px;
    }
}